:root {
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
}
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-grey);
}
.card{
    background-color: var(--White);
    width: 600px;
    border-radius: 1rem 1rem 10rem .1rem;
}
.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
.form_container{
    display: flex;
    
    gap: 2rem;
}
.block{
    display: flex;
    flex-direction: column;
}
input {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Off-white);
   /* border: none;*/
    outline: none;
}











small {
    color: red;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
}
.submit-btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    background-color: var(--Purple);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 60px;
}
.output span{
    font-size: 2.75rem;
    color: var(--Purple);
    font-style: italic;
}
.input-contatiner {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}
.input-flex {
    display: flex;
}

.attribution {
    position: relative;
}