.flex-container {
    display: flex;
    flex-flow: column wrap;
    background-color: ;
    justify-content: center;
    align-items: stretch;
}
.flex-item {
    
}

form {
}

label{
    
}
input {
    
}